<div class="boards-wrapper">
	<% @boards.each do |board| %>
		<div class="board">
			<img class="board-image" src="<%= board.image %>" alt="<%= board.title %>">
			<%= link_to board.title, board %>
		</div>
	<% end %>
</div>
	