<h2><%= @board.title %></h2>

<div class="posts-wrapper">
	<% @board.posts.each do |post| %>
		<div class="post">
			<img class="post-image" src="<%= post.image %>" alt="<%= post.title %>">
			<%= link_to post.title, board_post_path(@board, post) %>
		</div>
	<% end %>
</div>


