* {
	margin: 0;
	font-family: 'Revalia', cursive;
}

body {
	background: gray;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	color: white;
}

.intro {
	align-content: space-around;
	background-color: #292b31;
	background-image: url("desk.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	height: 60vh;
	justify-content: space-around;
}

.logo * {
	margin: 2% 0 0 2%;
	width: 30%;
}

.add-board {
	align-self: flex-end;
	margin: 0 2% 2% 0;
}

.boards-wrapper {
	border-top: 15px solid white;
}

.boards-wrapper, .posts-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.boards-wrapper > .board:nth-of-type(n) {
	background-color: #ff2e74;
}

.boards-wrapper > .board:nth-of-type(2n) {
	background-color: #2eb2ff;
}

.boards-wrapper > .board:nth-of-type(3n) {
	background-color: #ffdc2e;
}

.board {
	background-color: #ff2e74;
	height: 240px;
	width: 25%;
}

.board-image {
	height: 80%;
	text-align: center;
	width: 100%;
}

.board-title {
	color: white;
	font-size: 36px;
}

.board-url {
	align-items: center;
	background-color: black;
	display: flex;
	height: 21%;
	justify-content: center;
	position: relative;
	bottom: 2%;
}

.community {
	color: white;
	font-size: 24px;
	margin-top: 10%;
}

.new-board-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
.new-board-main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	background-color: #e6e6e6;
	border: solid 5px #ff2e74;
	width: 75%;
}

.new-board {
	height: 20vh;
}

.new-board :first-child {
	font-size: 30px;
}

.new-board :nth-child(2) {
	margin-bottom: 5%;
}

.page-header {
	text-align: center;
	margin-bottom: 2%;
}

.board-top {
	height: 100px;
}

.post {
	background-color: black;
	border-radius: 10%;
	display: flex;
	flex-wrap: wrap;
	height: 250px;
	justify-content: center;
	margin: 1%;
	width: 31%;
}

.post-image-wrapper {
	align-items: center;
	color: white;
	display: flex;
	justify-content: center;
	width: 100%;	
}

.post-image {
	height: 150px;
	width: 70%;
}

.post-title {
	color: white;
	font-size: 36px;
}

.notes-header {
	margin-bottom: 5%;
}

.inner-post-image-wrapper {
	height: 300px;
	width: 35%;
}

.inner-post-image {
	height: 100%;
	width: 100%;
}

.inner-post-wrapper {
	align-items: center;
	display: flex;	
	justify-content: center;
}

.url-and-notes {
	box-sizing: border-box;
	padding: 0 5%;
}

.note {
	background-color: rgba(255, 255, 255, 0.57);
	margin-bottom: 2%;
}

.note-heading {
	margin-bottom: 3%;
}

.note-body {
	background-color: white;
	box-sizing: border-box;
	height: 100px;
	overflow-wrap: break-word;
	padding: 2%;	
}

.window-footer {
	box-sizing: border-box;
	padding: 0 2%;
	font-size: 12px;
}

.back-to-boards {
	margin-bottom: 3%;
}

.back-to {
	color: white;
	margin-left: 2%;
}

.visit {
	font-size: 36px;
	text-align: center;
}

.community-wrapper .board {
	height: 120px;
	width: 10%;
}

.community-wrapper .board .board-url {
	font-size: 12px;
}

.new_user, .new_user ~ *{
	margin-left: 10%;
	width: 30%;
}

.new_user {
	padding: 10%;
	border: 1px solid black;
	border-radius: 15%;
	background-color: #dbdbdb;
}

.edit-links {
	font-size: 20px;
}
