.boards-wrapper, .posts-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.board {
	height: 200px;
	width: 20%;
}

.board-image {
	height: 150px;
	width: 100%;
}

.post {
	height: 200px;
	width: 20%;
}

.post-image {
	height: 150px;
	width: 100%;
}