* {
	margin: 0;
	font-family: 'Revalia', cursive;
}

body {
	background: gray;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	color: white;
}

.intro {
	background-image: url("newdesk2b.jpg");
	height: 60vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #292b31;
	display: flex;
	justify-content: space-around;
	align-content: space-around;
}

.add-board {
	align-self: flex-end;
	margin: 0 2% 2% 0;
}

.logo * {
	width: 30%;
	margin: 2% 0 0 2%;
}

.boards-wrapper, .posts-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.boards-wrapper > .board:nth-of-type(n) {
	background-color: #ff2e74;
}

.boards-wrapper > .board:nth-of-type(2n) {
	background-color: #2eb2ff;
}

.boards-wrapper > .board:nth-of-type(3n) {
	background-color: #ffdc2e;
}

.boards-wrapper {
	border-top: 15px solid white;
}
.board {
	height: 240px;
	width: 25%;
	background-color: #ff2e74;
}

.board-image {
	height: 80%;
	width: 100%;
	text-align: center;
}

.board-url {
	height: 20%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.new-board-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
.new-board-main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	background-color: #e6e6e6;
	border: solid 5px #ff2e74;
	width: 75%;
}

.new-board {
	height: 10vh;
	font-size: 30px;
}

.board-title {
	color: white;
	font-size: 36px;
}

.show-wrapper {

}
.back-to-boards {
	margin-bottom: 3%;
}

.page-header {
	text-align: center;
	margin-bottom: 2%;
}

.post {
	height: 250px;
	width: 31%;
	margin: 1%;
	background-color: black;
	border-radius: 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.post-image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.post-image {
	height: 150px;
	width: 70%;
}

.notes-header {
	margin-bottom: 5%;
}

.inner-post-image-wrapper {
	width: 35%;
	height: 300px;
}

.inner-post-image {
	height: 100%;
	width: 100%;
}

.inner-post-wrapper {
	display: flex;	
	justify-content: center;
	align-items: center;
}

.url-and-notes {
	box-sizing: border-box;
	padding: 0 5%;
}

.note {
	background-color: rgba(255, 255, 255, 0.57);
	margin-bottom: 2%;
}

.note-heading {
	margin-bottom: 3%;
}

.note-body {
	background-color: white;
	height: 100px;
	box-sizing: border-box;
	padding: 2%;
	overflow-wrap: break-word;
}